body {
    margin: 0;
    padding: 0;
}

.dashboard-icon {
    height: 24px;
    padding: 5px;
}

#grid-container {
    display: grid;
    height: 100vh;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(5, 1fr);
}

#grid-dashboard-main {
    grid-row-start: 1;
    grid-row-end: 7;

    grid-column-start: 1;
    grid-column-end: 2;
}

#grid-uppernav-main {
    grid-row-start: 1;
    grid-row-end: 2;

    grid-column-start: 2;
    grid-column-end: 6;
}

.grid-dashboard-section {
    display: flex;
    flex-direction: column;
}

#grid-dashboard-main {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}