body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #222;
}

h5, text {
    padding: 0px;
}

a {
    text-decoration: none;
    color: #222;
}

.grid-dashboard-section-item {
    width: 86%;
    padding: 6px;
    margin: 5px;
    color: #000;
    border-radius: 10px;

    display: flex;
    align-items: center;
}

.grid-dashboard-section-item:hover {
    background-color: #498354;  /* little lighter than var(--custom-normal-green) */
    transition: 0.2s;
}

#grid-dashboard-main {
    background-color: var(--custom-dark-green);
}

#grid-uppernav-main {
    background-color: var(--custom-light-green);
    box-shadow: 10px 8px 10px lightgray;
}

#dashboard-title {
    font-size: 36px;
}

.dashboard-icon {
    height: 24px;
    padding: 5px;
}

.contentmain-grid-item-iconlink {
    height: 18px;
    padding: 5px;
}

#grid-contentmain-announcementscontainer, .contentmain-grid-item, #grid-contentmain-trendingcontainer {
    background-color: var(--custom-light-green);
    border-radius: 20px;
    padding: 10px;
    box-shadow: 5px 8px 10px rgb(212, 212, 212);
}

#grid-contentmain-announcementscontainer {
    padding: 50px;
}

#grid-contentmain-trendingcontainer {
    padding: 30px;
}

#grid-contentmain-projecttitle {
    padding: 20px;
}